body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
.bs-container {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}